.container{
    margin-bottom: 20px;

}
.banner{
    padding: 10px 40px;
    background-color: grey;
}
.navbar-brand .img-fluid{
    height: 70px;
}
.button-buy-now{
    width: 150px;
}
 .carousel-indicators .active{
    background-color: goldenrod;
}
.see-all {
    color: rgba(241, 175, 7, 0.979);
    font-weight: bold;
}
.card-footer, .card, .right{
    text-align: center;
    background-color: #fff;
    border: none;
    
}
.card:hover {
    box-shadow: 5px 5px 20px navy;
}
.categories .left{
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    padding: 25px;
}
.title{
    border-bottom: 8px solid gold;
    padding-bottom: 5px;
    
}